<!-- Footer Links -->
  <div class="footer-links">
    <div class="footer-container">
      <ul>
        <li>
          <a href="/">
            <h3>ORACIÓN MICASA</h3>
          </a>
        </li>
        <li>
          <a href="/peticiones">PETICIONES</a>
        </li>
        <li>
          <a href="/peticiones/add">AGREGAR PETICIÓN</a>
        </li>
        <li>
          <a href="https://micasa.net.gt/">PÁGINA PRINCIPAL MICASA</a>
        </li>
      </ul>
      
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <h5>JNI MICASA</h5>
  </footer>