<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="img/brand.png" alt="" width="30" height="30" class="d-inline-block align-top">
      Oración MiCaSa
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Peticiones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Anuncios</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Redes Sociales
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="https://www.facebook.com/IDNMiCaSa">facebook</a></li>
            <li><a class="dropdown-item" href="https://www.instagram.com/idnmicasa/?hl=es">Instagram</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCnl-6pJ-MqC-FzVbMRK1E7g">YouTube</a></li>
            <li><hr class="dropdown-divider">JNI</li>
            <li><a class="dropdown-item" href="https://www.facebook.com/IDNMiCaSa">facebook</a></li>
            <li><a class="dropdown-item" href="https://www.instagram.com/idnmicasa/?hl=es">Instagram</a></li>
            <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCnl-6pJ-MqC-FzVbMRK1E7g">YouTube</a></li>
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>